/*바디 전체*/
.div-MyContentPage-body {
    margin-top: 30px;
    display: flex;
}


/* body 안의 전체 컴포넌트를 아우르는 div*/
.div-content {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;

}



/*content-list 전체 div*/
.div-MyContentPage-content-list {
    flex: 1;
    border-top: 1px solid rgb(192, 183, 183);
    border-left: 1px solid rgb(192, 183, 183);
    border-radius: 10px;
    height: 100vh;
    margin-left: 20px;
    background-color: rgb(242, 237, 237);

}


/* All, Active, Private, 만들기버튼을 감싸는 div*/
.div-content-head-main {
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 0px;
}


/*버튼들을 감싸는 div*/
.div-content-head-left {
    width: 60%;
    display: flex;
    gap: 20px;

}

/*방만들기 버튼을 감싸는 div*/
.div-content-head-right {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;

}


/* 활성화된 필터 버튼*/
.activeTab {
    border-radius: 5px;
    width: 15%;
    height: 50%;
    font-weight: 600;
    background-color: #EFE1D0;
    border-color: #90653E;
    color: #2F2116;
}

/* 활성화가 안 된 필터 버튼*/
.tab {
    border-radius: 5px;
    border: none;
    width: 15%;
    height: 50%;
    background-color: rgb(242, 237, 237);
    font-weight: 600;
}

/*활성화 안 된 버튼에 마우스 올릴 때*/
.tab:not(.activeTab):hover {
    background-color: #E9D8C4;
}


/* 방 만들기 버튼*/
.button-head-create {
    background-color: #90653E;
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 50%;
    color: white;
    font-weight: 600;

}

/*검색 창과 돋보기를 감싸는 div*/
.div-content-search-box {
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #d6d0ca;
    background-color: white;
    width: 380px;
    height: 44px;
    padding: 0 14px;
    display: flex;
    align-items: center;

}

/* 검색창 input */
.div-content-search-box input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 15px;
    background: transparent;
}

/* 검색창 돋보기 아이콘 */
.search-icon {
    font-size: 22px;
    color: #555;
}


/* 검색창의 돋보기 버튼  */
.search-button {
    border: none;
    background-color: transparent;
    display: flex;
}



/*활성화된 페이지 버튼*/
.button-page-active{
    background:none;
    border:none;
    font-weight: 700;
}

/*활성화되지 않은 페이지 버튼*/
.button-page{
    background:none;
    border:none;
    font-size: 0.8em;
}


/* "이전, 이후" 버튼 */
.button-next,
.button-prev
{
    background:none;
    border:none;

}


.div-paging-button-box{
    margin-top: 30px;
    text-align: center;
}