/*모달 창 자체*/
.question-card-modal {

    border: none;
    border: 3px solid #90653E;
    border-radius: 20px;
}


/* x 버튼 */
.QuestionCardModal-x-button {
    border-radius: 10px;
    width: 10%;
    border: none;
    background-color: #90653E;
    font-weight: 600;
    align-self: flex-end;
    color: white;
}

/* 시간 텍스트 */
.QuestionCardModal-time {
    color:rgb(135, 127, 117);
    font-size: 0.9em;
}

/*닉네임 텍스트*/
.QuestionCardModal-nickname{
    color:black;
    font-size: 1.2em;
}