/*모달 창 자체*/
.question-detail {

    border: none;
    border: 3px solid #90653E;
    border-radius: 20px;

}


/* x 버튼 */
.question-detail__close {
    border-radius: 10px;
    width: 10%;
    border: none;
    background-color: #90653E;
    font-weight: 600;
    align-self: flex-end;
    color: white;
    margin: 10px;
}
/* 상태 텍스트 */
.question-detail__status{
    margin-bottom: 0;
    padding-left: 5px;
}

/* 시간 텍스트 */
.question-detail__timestamp {
    color: rgb(135, 127, 117);
    font-size: 0.9em;
    margin: 0;
    padding-left: 5px;
}

/* 질문 작성자 아이콘과 정보를 감싸는 영역 */
.question-detail__author{
    display: flex;
    gap:5px;
}

/* 작성자 안내와 닉네임을 감싸는 영역 */
.question-detail__author-info{
    display: flex;
    flex-direction: column;
}

/* 사람 아이콘 */
.question-detail__author-icon{
    align-self: center;
}

/* 질문 작성자 텍스트 */
.question-detail__author-label{
    font-size: 0.8em;
    padding-left: 5px;
    margin:0;
    color:#90653E;
}

/*닉네임 텍스트*/
.question-detail__author-name {
    color: black;
    margin: 0;
    padding-left: 8px;
}

/*질문 내용 div를 감싸는 div*/
.question-detail__body {
    padding: 15px;
}

/* 질문 내용 div */
.question-detail__content {

    border: 1px solid rgb(135, 127, 117);
    border-radius: 10px;
    padding: 10px;
    height: 200px;
}

/* 시간과 닉네임 div를 감싸는 div*/
.question-detail__header {
    padding-left: 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

/*버튼 두개를 감싸는 div*/
.question-detail__actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;

}

/* 취소 버튼*/
.question-detail__cancel {
    width: 45%;
    background-color: #90653E;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

/* '답변완료로 표시' 버튼*/
.question-detail__toggle {
    width: 45%;
    background-color: white;
    border: 1px solid #90653E;
    padding: 10px;
    border-radius: 10px;
    color: #90653E;
    font-weight: 600;
}

/* '답변완료로 표시' 버튼 hover 반응*/
.question-detail__toggle:hover{

    width: 45%;
    background-color: #90653E;
    border: 1px solid #90653E;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}
