
/* 전체를 아우르는 main div*/
.HostQuestionList-main-div{
    width:70%;
}

/* 전체,대기,답변완료 버튼과 select박스를 감싸는 div*/
.qna-toolbar-main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 전체,대기,답변완료 버튼을 감싸는 div*/
.qna-toolbar-left-div {
    display: flex;
}

/* select 박스를 감싸는 div*/
.qna-toolbar-right-div {
    display: flex;
}

/* 질문 리스트를 감싸는 div - 스크롤 적용*/
.qnaList-main-div{
    max-height: 500px;
    overflow-y: auto;
}