


/* 전체를 아우르는 main div*/
.HostQuestionCard-main-div{

    border:1px solid #90653E;
}

/*닉네임과 추천수를 감싸는 div*/
.HostQuestionCard-header-div{

    display: flex;
    justify-content: space-between;
}


/* 질문 텍스트 div */
.HostQuestionCard-body-question{


}

/* 시간 텍스트 div */
.HostQuestionCard-body-time{


}