


/* 전체를 아우르는 main div*/
.HostQuestionCard-main-parent{
    display: flex;
    flex-direction: row;
}

/* rank를 나타내는 div */
.HostQuestionCard-rank-div{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 70px;
    font-size: 1.5em;
    border:3px solid rgb(218, 216, 216);
    border-radius: 100%;
    margin:5px;
}



/* 질문 카드를 감싸는 parent div*/
.HostQuestionCard-main-div {
    flex:1;
    border-radius: 5px;
    cursor: pointer;
    margin:7px;
}

/*닉네임과 추천수를 감싸는 div*/
.HostQuestionCard-header-div {

    background-color: #926e4c;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*닉네임 div*/
.HostQuestionCard-nickname-div {
    font-size: 0.88em;
    color:white;
    
}

/*투표 div*/
.HostQuestionCard-vote-div {
    font-size: 0.88em;
    color:white;
    
}

/*질문과 시간을 감싸는 div*/
.HostQuestionCard-body-div {
    background-color: white;
    border: 1px solid #90653E;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* 질문 텍스트 div */
.HostQuestionCard-body-question {
    padding: 5px;

}

/* 시간 텍스트 div */
.HostQuestionCard-body-time {
    padding: 5px;
    font-size: 0.8em;
}