/*전체를 아우르는 main div*/
.QnaParticipantPannel-main-div {

    width: 30%;
    border: 1px solid red;
}

.QnaParticipantPannel-header{

    border: 1px solid green;
    background-color: rgb(242, 237, 237);
}