/*RoomInfo 전체를 아우르는 main div*/
.RoomInfo-main-div {

    display: flex;
}

/*타이머를 감싸는 parent div*/
.timer-parent-div {
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 타이머 div */
.timer-div {
    border:1px solid #90653E;
    border-radius: 10px;
    width:90%;
    height:100%;
    font-size: 2.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 방 정보 div들을 감싸는 div*/
.room-info-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

/* 방 정보 div*/
.room-info-1,
.room-info-2,
.room-info-3,
.room-info-4 {
    border: 1px solid rgb(158, 126, 126);
    width: 600px;
    padding: 10px;
    border-radius: 10px;
}