/* ?먭컻 ?⑤꼸??媛먯떥??main div */
.HomeEntryPanel-main-parent {
    display: flex;
    justify-content: center;
    padding: 50px 50px;
    gap: 20px;
    background-color: rgb(242, 237, 237);
}

/* ?쇱そ ?臾??⑤꼸 */
.HomeEntryPanel-left-panel {
    border: 1px solid #90653E;
    height: 500px;
    width: 35%;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    padding-top: 60px;
}


/* ?ㅻⅨ履??臾??⑤꼸 */
.HomeEntryPanel-right-panel {
    padding-top: 60px;
    border: 1px solid #90653E;
    height: 500px;
    width: 35%;
    text-align: center;
    border-radius: 5px;
    background-color: white;
}

/* 李몄뿬?먯씠?좉??? 諛⑹쓣吏곸젒留뚮뱾湲?<- h2 ?띿뒪??*/
.HomeEntryPanel-main-parent h2 {
    font-weight: 900;
    margin-top: 10px;
}

/* 肄붾뱶 ?낅젰怨?踰꾪듉??媛먯떥??div*/
.left-panel-input-div {
    display: flex;
    margin: 0 auto;
    width: min(80%, 360px);

}

/* 媛?대뱶 ?띿뒪??*/
.panel-guide-text {
    font-size: 1.0em;

}

/* 肄붾뱶 ?낅젰?섎뒗 input ?쒓렇 */
.code-input {
    flex: 1;
    width: 260px;
    height: 60px;
    border: 1px solid #90653E;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 2.0em;
    padding-left: 10px;
}


/* 肄붾뱶 input ?ㅻⅨ履쎌쓽 ?붿궡??踰꾪듉*/
.code-input-arrow-button {
    width: 100px;
    height: 60px;
    border: 1px solid #90653E;
    background-color: #90653E;
    color: white;
    font-size: 2.0em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

/* people ?대?吏 */
.HomeEntryPanel-left-panel img,
.HomeEntryPanel-right-panel img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

/*?쇱そ ?⑤꼸 advice ?띿뒪??/
.left-panel-advice-div {
    border: none;
    background-color: #cab6a4;
    width: 360px;
    color: white;
    margin: 0 auto;
    margin-top: 30px;
}


/* ?몄뒪?몃줈 ?쒖옉?섍린 踰꾪듉*/
.host-start-button {
    border: 1px solid #90653E;
    background-color: #90653E;
    color: white;
    width: 360px;
    border-radius: 5px;
    height: 60px;
    font-size: 1.2em;
}

/* ?ㅻⅨ履??⑤꼸 advice ?띿뒪??/
.right-panel-advice-div {
    border: none;
    background-color: #cab6a4;
    width: 360px;
    color: white;
    margin: 0 auto;
    margin-top: 30px;

}