/* 두개 패널을 감싸는 main div */
.HomeEntryPanel-main-parent {
    display: flex;
    justify-content: center;
    padding: 50px 50px;
    gap: 20px;
    background-color: rgb(242, 237, 237);
}

/* 왼쪽 대문 패널 */
.HomeEntryPanel-left-panel {
    border: 1px solid #90653E;
    height: 500px;
    width: 35%;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    padding-top: 60px;
}

/* 오른쪽 대문 패널 */
.HomeEntryPanel-right-panel {
    padding-top: 60px;
    border: 1px solid #90653E;
    height: 500px;
    width: 35%;
    text-align: center;
    border-radius: 5px;
    background-color: white;
}

/* 참여자이신가요, 방을직접만들기 <- h2 텍스트 */
.HomeEntryPanel-main-parent h2 {
    font-weight: 900;
    margin-top: 10px;
}

/* 코드 입력과 버튼을 감싸는 div*/
.left-panel-input-div {
    display: flex;
    margin: 0 auto;
    width: min(80%, 360px);
}

/* 가이드 텍스트 */
.panel-guide-text {
    font-size: 1.0em;
}

/* 코드 입력하는 input 태그 */
.code-input {
    flex: 1;
    width: 260px;
    height: 60px;
    border: 1px solid #90653E;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 2.0em;
    padding-left: 10px;
}

/* 코드 input 오른쪽의 화살표 버튼*/
.code-input-arrow-button {
    width: 100px;
    height: 60px;
    border: 1px solid #90653E;
    background-color: #90653E;
    color: white;
    font-size: 2.0em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* people 이미지 */
.HomeEntryPanel-left-panel img,
.HomeEntryPanel-right-panel img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

/*왼쪽 패널 advice 텍스트*/
.left-panel-advice-div {
    border: none;
    background-color: #cab6a4;
    width: 360px;
    color: white;
    margin: 0 auto;
    margin-top: 30px;
}

/* 호스트로 시작하기 버튼*/
.host-start-button {
    border: 1px solid #90653E;
    background-color: #90653E;
    color: white;
    width: 360px;
    border-radius: 5px;
    height: 60px;
    font-size: 1.2em;
}

/* 오른쪽 패널 advice 텍스트*/
.right-panel-advice-div {
    border: none;
    background-color: #cab6a4;
    width: 360px;
    color: white;
    margin: 0 auto;
    margin-top: 30px;
}
