
/* 모달 자체 */
.Entry-modal{
    width:400px;
    height:300px;
    display: flex;
    flex-direction: column;
}


/* 상단 우측 X 버튼*/
.entry-modal-x-button {
    align-self: flex-end;
    border: none;
    background-color: #90653E;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 10px;
    color: white;
}


/* 방 제목 h3 텍스트*/
.Entry-modal h3 {
    align-self: center;
}

/* 방 코드 텍스트 */
.entry-modal-code-p {
    text-align: center;
}

/*비밀번호 인풋 */
.entry-modal-password-input {
    height:40px;
    padding:10px;
    align-self: center;
}

/* 비밀번호가 있을 때 입장하기 버튼*/
.entry-modal-enter-button-v1{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #90653E;
    color: white;
    border-radius: 5px;
    border: none;
    height: 45px;
    
}



/* 비밀번호 없을 경우 입장하기 버튼*/
.entry-modal-enter-button-v2{
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #90653E;
    color: white;
    border-radius: 5px;
    border: none;
    height: 50px;
    
}

.entry-modal-capacity-p{
    text-align: center;
}