

/*sidebar 전체 div*/
.div-dashboard-sidebar {

    width: 200px;
}


/*내 말모임 탭 버튼*/
.button-dashboard-my-malmoim {
    padding: 10px;
    padding-left: 20px;
    width: 100%;
    color: black;
    background: none;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    border: none;
    
}

/* 내 말모임 < 텍스트*/
.button-dashboard-my-malmoim span{
    font-weight: 600;
    font-size: 0.95em;
}

/*말모임 만들기 < 텍스트*/
.button-dashboard-create-malmoim span{
    font-weight: 600;
    font-size: 0.95em;
}

/*plusIcon 이미지*/
.button-dashboard-create-malmoim img {
    width: 20px;
    height: 20px;
}

/*personIcon 이미지*/
.button-dashboard-my-malmoim img {
    width: 20px;
    height: 20px;
}

/*말모임 만들기 탭 버튼*/
.button-dashboard-create-malmoim {
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    color: black;
    background: none;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    border: none;
}