/* 모든 방 상단 헤더 */
.room-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/*로고와 메인title을 묶는 div*/
.room-header__brand{
    display: flex;
    gap:20px;
}

/* 헤더의 로고 */
.room-header__logo {
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

/*방 헤더의 가장 상단*/
.room-header__title,
.room-header__info{
    align-self: center;
}

