/* RoomSubheader의 div를 감싸는 main div*/
.RoomSubheader-main-div {
    padding: 10px 20px;
    
}

/* 90%만 그리는 직선을 위한 div*/
.RoomSubheader-padding-div {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    padding-top: 5px;
}

/* 방 타이틀 div */
.RoomSubheader-title {
    border: 1px solid #90653E;
    border-radius: 5px;
    padding:5px;
    background-color: rgb(242, 237, 237);
}

/* 방 code div */
.RoomSubheader-code {
    border: 1px solid #90653E;
    border-radius: 5px;
    padding:5px;
    background-color: rgb(242, 237, 237);
}

/* 방 공개 여부 div */
.room-subheader-visibility {
    border: 1px solid #90653E;
    border-radius: 5px;
    padding:5px;
    background-color: rgb(242, 237, 237);
}
