.navbar-header {

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.navbar-logo {
    margin-left: 150px;


}

.navbar-logo img {
    border-radius: 10px;
    width: 150px;
    height: 60px;
}

.navbar-menu {
    display: flex;
    gap: 30px;
    margin-left: 120px;
}

.navbar-auth {
    justify-self: end;
    display: flex;
    gap: 30px;
    margin-right: 150px;
}