
/*투표 오픈 뷰의 자식 div*/
.participant-answering__left{

    width: 700px;
    height: 90vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 질문 종료 view 최상위 부모 */
.participant-answering {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-top: 20px;
}

/* 상단 텍스트 div */
.participant-answering__header {
    text-align: center;
}
