/* 질문 종료 view 최상위 부모 */
.ParticipantQuestionClosedView-parent-panel {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    width: 700px;
    height: 90vh;
    margin-top: 20px;
}


/* 상단 텍스트 div */
.ParticipantQuestionClosedView-top-panel {
    text-align: center;
}

/*질문 목록 감싸는 div*/
.ParticipantQuestionClosedView-bottom-panel {

    
}