/*카드들을 감싸는 list div*/
.ParticipantQuestionCard-list {
    display: flex;
    flex-direction: column;
}

/* 카드 전체를 감싸는 div*/
.ParticipantQuestionCard {
    border: 1px solid rgb(242, 237, 237);
    border-bottom: none;
}