/* 질문 종료 view 최상위 부모 */
.participant-question-closed {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-top: 20px;
}

/* 상단 텍스트 div */
.participant-question-closed__header {
    text-align: center;
}
