/* ready view 전체의 부모 div */
.ParticipantReadyView-parent-div {

    display: flex;
    gap:10px;
    
}


/* 왼쪽 패널 */
.readyView-left-panel {
    border: 1px solid green;
    width:700px;
    height:90vh;

}

/* 오른쪽 패널 */
.readyView-right-panel {

    border: 1px solid red;
    width:300px;
}