
/* 등록하기 버튼 */
.ParticipantQuestionToolbar-register-button{
    width:100px;
    border: none;
    height: 40px;
    color:white;
    background-color: #90653E;
    border-radius: 5px;
}

/* 왼쪽 패널 parent div*/
.ParticipantQuestionToolbar-parent-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
