

/*투표 closed 뷰의 자식 div*/
.ParticipantVotingClosedView-left-panel{

    border: 1px solid green;
    width: 700px;
    height: 90vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 투표 closed view 최상위 부모 */
.ParticipantVotingClosedView-parent-panel {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    width: 700px;
    margin-top: 20px;
}

/* 상단 텍스트 div */
.ParticipantVotingClosedView-top-panel {
    text-align: center;
}

/* 질문 목록 감싸는 div */
.ParticipantVotingClosedView-bottom-panel {
    max-height: 500px;
    overflow-y: auto;
}
