/* 순위와 질문 카드를 감싸는 div */
.participant-card {
    display: flex;
    flex-direction: row;
}

/* 순위를 나타내는 div */
.participant-card__rank {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 70px;
    font-size: 1.5em;
    border: 3px solid rgb(218, 216, 216);
    border-radius: 100%;
    margin: 5px;
}

/* 질문 카드를 감싸는 div */
.participant-card__main {
    flex: 1;
    border-radius: 5px;
    margin: 7px;
}

/* 닉네임과 투표 정보를 감싸는 div */
.participant-card__header {
    background-color: #926e4c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* 닉네임 div */
.participant-card__author {
    font-size: 0.88em;
    color: white;
}

/* 투표 버튼과 추천 수 div */
.participant-card__vote {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.88em;
    color: white;
}

/* 질문과 시간을 감싸는 div */
.participant-card__body {
    background-color: white;
    border: 1px solid #90653E;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* 질문 텍스트 div */
.participant-card__content {
    padding: 5px;
}

/* 작성 시간 div */
.participant-card__time {
    padding: 5px;
    font-size: 0.8em;
}
