


/*투표 오픈 뷰의 자식 div*/
.ParticipantVotingOpenView-left-panel{

    border: 1px solid green;
    width: 700px;
    height: 90vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}