

/* 내 정보 패널 최상위 div*/
.ParticipantListPanel-parent-div{
    border: 1px solid #90653E;
    padding:10px;
    border-radius: 10px;
    background-color: rgb(242, 237, 237);
    width:300px;
}


/* 참여자 리스트 패널 parent */
.participant-list-info{
    display: flex;
    flex-direction: column;
}

/* 참여자 리스트 한명한명의 칸*/
.participant-list-info p {
    padding:5px;
    margin:0px;
    
}