/* 모달 창의 전체를 아우르는 클래스*/
.question-submit-modal {

    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 237, 237);
}

/* 질문 등록 < 텍스트*/
.question-submit-modal h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

/* x버튼 */
.question-submit-modal-x-button {
    border: none;
    width: 30px;
    height: 30px;
    align-self: flex-end;
    margin: 5px;
    border-radius: 5px;
    background-color: #90653E;
    color: white;
}

/* 질문 등록 textarea*/
.qustion-submit-modal-textarea {

    resize: none;
    width: 90%;
    height: 450px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #90653E;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* 취소, 완료 버튼을 감싸는 div*/
.qustion-submit-modal-button-box {
    display: flex;
    gap: 10px;
    width:90%;
    height: 50px;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    

}

/* 취소 버튼*/
.qustion-submit-modal-cancel-button {
    background-color: white;
    color: #90653E;
    border: 1px solid #90653E;
    border-radius: 5px;
    flex: 1;

}

/* 완료 버튼*/
.qustion-submit-modal-submit-button {
    background-color: #90653E;
    color: white;
    border: 1px solid #90653E;
    border-radius: 5px;
    flex: 1;

}

/* textarea 클릭 시 border 효과 적용*/
.qustion-submit-modal-textarea:focus {
    outline: none;
    border: 2px solid #90653E;
}

/* 버튼 클릭 시 애니메이션 효과*/
.qustion-submit-modal-submit-button:active, 
.qustion-submit-modal-cancel-button:active {
    transform: translateY(2px);
}