/* RoomMiniHeader의 div를 감싸는 main div */
.RoomMiniHeader-main-div {
    padding: 10px 10px;
}

/* 90%만 그리는 직선을 위한 div */
.RoomMiniHeader-padding-div {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    border-top: 1px solid grey;
    padding-top: 10px;
    gap: 10px;
}

/* 방 타이틀 div */
.RoomMiniHeader-title {
    border: 1px solid #90653E;
}

/* 방 code div */
.RoomMiniHeader-code {
    border: 1px solid #90653E;
}

/* 방 상태 div */
.RoomMiniHeader-status {
    border: 1px solid #90653E;
}
