/* RoomMiniHeader??div瑜?媛먯떥??main div*/
.RoomMiniHeader-main-div {

    padding: 10px 10px;

}

/* 90%留?洹몃━??吏곸꽑???꾪븳 div*/
.RoomMiniHeader-padding-div {

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    border-top: 1px solid grey;
    padding-top: 10px;
    gap:10px;
}

/* 諛???댄? div */
.RoomMiniHeader-title {

    border: 1px solid #90653E;
}

/* 諛?code div */
.RoomMiniHeader-code {
    border: 1px solid #90653E;
}

/* 諛??곹깭 div */
.RoomMiniHeader-status {
    border: 1px solid #90653E;
}