/* 모든 방 상단 헤더 */
.RoomHeader-main-div {
    display: flex;
    justify-content: space-between;
}

/*로고와 메인title을 묶는 div*/
.RoomHeader-left-div{
    display: flex;
    gap:20px;
}

/* 헤더의 로고 */
.RoomHeader-logo {
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

/*방 헤더의 가장 상단*/
.RoomHeader-title,
.RoomHeader-my-info{
    align-self: center;
}

