/*헤더 로고 이미지*/
.host-home-header img {

    width: 180px;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
}


/*헤더*/
.host-home-header {
    display: flex;
    justify-content: space-between;
}
