/* 호스트 홈 왼쪽 사이드바 */
.host-sidebar {
    width: 200px;
    min-height: 100vh;
    flex-shrink: 0;
    background-color: rgb(243, 240, 240);
}

/* 사이드바 상단 로고 버튼 */
.host-sidebar__logo-button {
    width: 100%;
    box-sizing: border-box;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* 사이드바 상단 로고 이미지 */
.host-sidebar__logo {
    display: block;
    width: 100%;
    border-radius: 10px;
}

/* 사이드바 메뉴 영역 */
.host-sidebar__menu {
    display: flex;
    flex-direction: column;
}

/* 사이드바 메뉴 버튼 */
.host-sidebar__menu-button {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px 16px;
    color: black;
    background: none;
    text-decoration: none;
    border-left: 4px solid transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
}

/*현재 선택된 탭의 배경 색 변경*/
.host-sidebar__menu-button.active {
    background-color: #cebebe;
    border-left-color: #90653E;
}


/* 사이드바 메뉴 아이콘 */
.host-sidebar__menu-button img {
    width: 20px;
    height: 20px;
}

/* 사이드바 메뉴 텍스트 */
.host-sidebar__menu-button span {
    font-weight: 600;
    font-size: 0.95em;
}